{% load widget_tweaks %}

{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}

        {% if form.is_bound %} <!-- Initial state: the form has no data (is not bound)
 -->
          {% if field.errors %}

            {% render_field field class="form-control is-invalid" %} <!-- Invalid: we add the .is-invalid CSS class and add error messages in an element with a class .invalid-feedback. The form field and the messages are rendered in red. -->
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}

          {% else %}
            {% render_field field class="form-control is-valid" %} <!-- Valid: we add the .is-valid CSS class so to paint the form field in green, giving feedback to the user that this field is good to go. -->
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">
            {{ field.help_text }}
          </small>
        {% endif %}
  </div>
{% endfor %}